---
layout: default
---

<article>
  <h2>Ian Smith</h2>
  <section>
    <p>
      Hello! I'm Ian. This is my blog.
    </p>
    <p>
      I am an <a href="http://github.com/imsmith">technologist</a>. I currently work in the Office of the CTO at F5.
    </p>
  </section>
  <section>
    <div style="padding-top: 20px">
      <h3>Recent writing</h3>
      <ul style="list-style: none; padding-left: 0px">
        {% for post in site.posts %} {% unless post.tags contains 'draft' %}
        <li>
          <p>
            <a href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B
            %d, %Y' }} {% if post.hn.size > 0 %}
            <a href="{{post.hn}}" class="hn" style="text-decoration: none">
              <img
                class="hn-image"
                src="/assets/y18.gif"
                style="border: 1px white solid"
                width="18"
                height="18"
              />
            </a>
            {% endif %}
          </p>
        </li>
        {% endunless %} {% endfor %}
      </ul>
    </div>
    <div style="padding-top: 20px">
      <h3>Recent fragments</h3>
      <ul style="list-style: none; padding-left: 0px">
        {% for post in site.fragments reversed %} {% unless post.tags contains
        'draft' %}
        <li>
          <p>
            <a href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B
            %d, %Y' }}
          </p>
          <!-- <p>Published {{ post.date | date: '%B %d, %Y' }} </p> -->
        </li>
        {% endunless %} {% endfor %}
      </ul>
    </div>
  </section>
</article>
