---
layout: default
---

<article>
  <section>
    <header>
      <a href="/">
        <h3>katachora.com</h3>
      </a>
    </header>
  </section>
  <h1>{{ page.title}}</h1>
  {% if post.tags.size > 0 %}
  <ul class="inline-bulleted">
    {% for tag in post.tags %}
    <li>{{ tag }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <h4>Published {{ page.date | date: '%B %d, %Y' }}</h4>
  <h5>
    Found something wrong?
    <a
      href="{{ site.github.repository_url }}/edit/master/{{ page.relative_path }}"
      >Submit a pull request!</a
    >
  </h5>
  <section>
    <!-- {% assign thesize = page.hn | size %} {% if thesize > 0 %} {% assign hn_link = page.hn %} {% discussion params=page.hn %} {% endif %} {% if page.intro %} -->
    {% assign thesize = page.hn | size %} {% if thesize > 0 %} {% assign hn_link = page.hn %} {% endif %} {% if page.intro %}
    <p>
      <em>
        {{ page.intro | markdownify | remove: '<p>' | remove: '</p>' }}
        {% if page.include_default_intro %}
        {{ page.default_intro | markdownify | remove: '<p>' | remove: '</p>' }}
        {% endif %}
      </em>
    </p>

    {% endif %} {{ content }}

  </section>
  <section>
    Found something wrong?
    <a
      href="{{ site.github.repository_url }}/edit/master/{{ page.relative_path }}"
      >Submit a pull request!</a
    >
  </section>
</article>

